<p id="notice"><%= notice %></p>

<p>
  <strong>Vhero:</strong>
  <%= @vopportunity_enrolment.vhero_id %>
</p>

<p>
  <strong>Vopportunity:</strong>
  <%= @vopportunity_enrolment.vopportunity_id %>
</p>

<%= link_to 'Edit', edit_vopportunity_enrolment_path(@vopportunity_enrolment) %> |
<%= link_to 'Back', vopportunity_enrolments_path %>
