<h1>Hello Stephanie</h1>
<p>How is your day?</p>
<p>You are offically on rails!</p>

<p>These are the current open opportunities:</p>

<p>
    <h2>Current Opportunities</h2>
          <% @vopportunity = Vopportunity.all.includes(:vorganization) %>
          <% @vopportunity.each do |vopportunity| %>
        <table frame="box">
            <tr><td>Name: <%= vopportunity.voppname %></td></tr>
            <tr><td>Logo: <%= vopportunity.vopplogo %></td></tr>
            <tr><td>Title: <%= vopportunity.title %></td></tr>
            <tr><td>Description: <%= vopportunity.shortdescr %></td></tr>
            <tr><td>Organization: <%= vopportunity.vorganization_id %></td></tr>
        </table>
        <br>
            <% end %>
</p>

<p><%= link_to 'Organizations', controller: 'vorganizations'%></p>
<p><%= link_to 'Voluntheros', controller:'vheros'%></p>
