<!--Page > Vorganization profile page-->
        <section class="section-top-50 section-sm-top-100">
          <div class="shell">
            <div class="range range-xs-center">
              <div class="cell-sm-7 cell-md-6">
                <div class="img-thumbnail-custom"><img src="<%= image_path (@vorganization.vorglogo) unless @vorganization.vorglogo.blank? %>" alt="Profile Picture" width="569" height="656" class="img-responsive"/>
                  <!--<div class="caption">
                    <div class="group-lg">
                      <ul class="list-inline text-middle">
                        <li><a href="#" class="link-white icon icon-sm icon-circle fa-instagram"></a></li>
                        <li><a href="#" class="link-white icon icon-xs icon-circle fa-facebook"></a></li>
                        <li><a href="#" class="link-white icon icon-xs icon-circle fa-twitter"></a></li>
                        <li><a href="#" class="link-white icon icon-xs icon-circle fa-google-plus"></a></li>
                      </ul>
                    </div>
                  </div>-->
                </div>
              </div>
              <div class="cell-sm-7 cell-md-6 text-sm-left offset-sm-top-30 offset-md-top-0">
                <div class="inset-lg-left-70">
                  <div class="reveal-xs-flex range-xs-justify range-xs-middle">
                    <h4 class="font-default"><%= @vorganization.vorgname %></h4>
                    <div class="team-member-position offset-top-0"><span class="big text-italic text-middle"><%= @vorganization.vorgtype %></span></div>
                  </div>
                  <div class="offset-top-10">
                    <ul class="list-inline list-inline-sm">
                      <li>
                        <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                          <div class="unit-left"><span class="icon icon-xs text-primary mdi mdi-email-outline text-middle"></span></div>
                          <div class="unit-body"><%= link_to @vorganization.email, class: "link-default" %></div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <p class="offset-top-20"><%= @vorganization.shortdescr %></p>
                  <p class="offset-top-20"><%= link_to 'Edit', edit_vorganization_path(@vorganization), class: "btn btn-burnt-sienna btn-fullwidth btn-shadow" %></p>
                </div>
              </div>
            </div>
          </div>
          </section>
          <br><br>
          <section class="text-center text-sm-left section-50 section-sm-top-80 section-sm-bottom-100 bg-ecru-white">
          <div class="shell">
            <p align="center"><%= link_to 'New Opportunity', new_vorganization_vopportunity_path(@vorganization) %></p>
            <h4 class="font-default text-center"><%=@vorganization.vorgname %>'s Posted Opportunities</h4>
            <div class="range">
            <% x = 2 %>
            <% @vorganization.vopportunities.each do |vorgposting| 
            if vorgposting.present?
            if x.even? %>
            
              <div class="cell-sm-6">
                <div class="job-offer bg-white">
                  <%= link_to vorgposting, class: "h5" do %>
                  <%= vorgposting.voppname %>
                  <% end %>
                  <ul class="list-inline offset-top-10">
                    <li><span class="text-middle icon icon-xxs icon-primary mdi mdi-map-marker"></span><span class="text-middle">?</span></li>
                    <li><span class="text-middle icon icon-xxs icon-primary mdi mdi-clock"></span><span class="text-middle">?</span></li>
                    <li><span class="text-middle icon icon-xxs icon-primary mdi mdi-calendar"></span><span class="text-middle"><%= vorgposting.created_at %></span></li>
                  </ul>
                </div>
              </div>
            <% x = x + 1
            else %>
            <div class="cell-sm-6 offset-top-30 offset-sm-top-0">
                <div class="job-offer bg-white">
                  <%= link_to vorgposting, class: "h5" do %>
                  <%= vorgposting.voppname %>
                  <% end %>
                  <ul class="list-inline offset-top-10">
                    <li><span class="text-middle icon icon-xxs icon-primary mdi mdi-map-marker"></span><span class="text-middle">?</span></li>
                    <li><span class="text-middle icon icon-xxs icon-primary mdi mdi-clock"></span><span class="text-middle">?</span></li>
                    <li><span class="text-middle icon icon-xxs icon-primary mdi mdi-calendar"></span><span class="text-middle"><%= vorgposting.created_at %></span></li>
                  </ul>
                </div>
              </div>
            <% x = x + 1
               end
               end
             end %>
            </div>
          </div>
        </section>
      </main>
    </div>
    <%= javascript_include_tag "core.min" %>
    <%= javascript_include_tag "script" %>
<%= link_to 'Back', vorganizations_path %>
