<p id="notice"><%= notice %></p>

<p>
  <strong>Vorgname:</strong>
  <%= @vorganization.vorgname %>
</p>

<p>
  <strong>Website:</strong>
  <%= @vorganization.website %>
</p>

<p>
  <strong>Vorglogo:</strong>
  <%= @vorganization.vorglogo %>
</p>

<p>
  <strong>Shortdescr:</strong>
  <%= @vorganization.shortdescr %>
</p>

<p>
  <strong>Vorgtype:</strong>
  <%= @vorganization.vorgtype %>
</p>

<p>
  <strong>City:</strong>
  <%= @vorganization.city %>
</p>

<p>
  <strong>Province:</strong>
  <%= @vorganization.province %>
</p>

<p>
  <strong>Country:</strong>
  <%= @vorganization.country %>
</p>

<p>
  <strong>Handles:</strong>
  <%= @vorganization.handles %>
</p>

<%= link_to 'Edit', edit_vorganization_path(@vorganization) %> |
<%= link_to 'Back', vorganizations_path %>
