      <!-- Page Content-->
<main class="page-content">
        <section class="section-50 section-sm-100 bg-ecru-white">
          <div class="shell-wide">
            <div class="range range-xs-center">
              <!-- REMOVE LARGE PICTURE
              <div class="cell-sm-10 cell-md-6 view-animate zoomInSmall delay-04"><a href="#" class="deals-block deals-block-variant-1 deals-block-variant-1-adjust"><img src="<%= image_path("index-sidebar-1-689x761.jpg") %>" alt="" width="689" height="761" class="img-responsive"/>
                  <div class="caption">
                    <div class="title-wrap">
                      <div class="unit unit-xs-horizontal unit-spacing-xxs unit-middle text-xs-left">
                        <div class="unit-left">
                          <h1>2</h1>
                        </div>
                        <div class="unit-body">
                          <h4 class="text-italic"><span class="text-white">Vegan Burgers</span><span class="text-white reveal-block">for the price of one</span></h4>
                        </div>
                      </div>
                    </div>
                    <div class="price-block"><span>$</span><span>15</span><span>99</span></div>
                  </div></a>
                </div> -->
              <div class="cell-sm-10 cell-md-6 offset-top-50 offset-md-top-0">
                <% x = 2 %>
                <% @vopportunity = Vopportunity.joins(:vorganization) %>
                <% @vopportunity.each do |vopportunity| %>
                <% if x.even? %>
                <div class="view-animate zoomInSmall delay-06">
                    <%= link_to vopportunity, class: "deals-block deals-block-variant-1 deals-block-variant-1-adjust" do %>
                    <img src="<%= image_path(vopportunity.vopplogo) %>" alt="" width="707" height="347" class="img-responsive"/>
                    
                    <div class="caption">
                      <div class="title-wrap">
                        <h3 class="text-italic"><%= vopportunity.voppname %></h3>
                        <p class="big"><%= vopportunity.shortdescr %></p>
                      </div>
                      <div class="price-block">
                          <span><%= vopportunity.vorganization.vorgname %></span>
                      </div>
                    </div>
                    <% end %>
                    <% x = x+1 %>
                    <% else %>
                    <%= link_to vopportunity, class: "deals-block deals-block-variant-1 deals-block-variant-1-adjust" do %>
                    <img src="<%= image_path(vopportunity.vopplogo) %>" alt="" width="707" height="347" class="img-responsive"/>
                    <div class="caption">
                      <div class="title-wrap">
                        <h3 class="text-italic"><%= vopportunity.voppname %></h3>
                        <p class="big"><%= vopportunity.shortdescr %></p>
                      </div>
                      <div class="price-block">
                          <span><%= vopportunity.vorganization.vorgname %></span>
                      </div>
                    </div>
                    <% end %>
                 </div>
                    <% x = x+1 %>
                    <% end %>
                    <% end %>

              </div>
            </div>
          </div>
        </section>
</main>
    <!-- Java script-->
    <%= javascript_include_tag "core.min" %>
    <%= javascript_include_tag "script" %>