<p id="notice"><%= notice %></p>

<% @vopportunity_enrolment ||= @vopportunity.vopportunity_enrolments.build %>

<%= form_with model: [@vopportunity, @vopportunity_enrolment], local: true do |form| %>
  <p><strong>Name:</strong><%= @vopportunity.voppname %></p>
  <p><strong>Shortdescr:</strong><%= @vopportunity.shortdescr %></p>
  <p><%= form.submit "Enrol"%></p>
<% end %>


<%= link_to 'Back', vopportunities_path %>
