<!DOCTYPE html>
<html>
  <head>
    <title>Volunthero</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# ----- Flash message header start----- %>
	
	<% if notice %>
      	    <%= notice %>
	<% end %>
	
	<% if alert %>
      	    <%= alert %>
	<% end %>
	
	<%# ----- Flash message header end----- %>
      
    <%# ----- Start current user ----- %>
	
    <p align='right'>
    <% if current_user %>
      <!-- current_user will return true if a user is logged in -->
      <%= "Hello #{current_user.firstname} #{current_user.lastname}" %> | <%= link_to 'Home', root_path %> | <%= link_to 'Log Out', logout_path, method: :delete %>
    <% else %>
      <!-- not logged in -->
      <%= link_to 'Home', root_path %> | <%= link_to 'Log In', login_path %> or <%= link_to 'Sign Up', new_vhero_path %>
    <% end %>
    <hr>
	</p>
    <%# ----- End current user ----- %>
      
      <%= yield %>
      

  </body>
</html>
