<%= form_with(model: vhero, local: true) do |form| %>
  <% if vhero.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vhero.errors.count, "error") %> prohibited this vhero from being saved:</h2>

      <ul>
      <% vhero.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :firstname %>
    <%= form.text_field :firstname, autofocus: true %>
  </div>

  <div class="field">
    <%= form.label :lastname %>
    <%= form.text_field :lastname %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password %>
  </div>

  <div class="field">
    <%= form.label :shortdescr %>
    <%= form.text_field :shortdescr %>
  </div>

  <div class="field">
    <%= form.label :jobtitle %>
    <%= form.text_field :jobtitle %>
  </div>

  <div class="field">
    <%= form.label :organization %>
    <%= form.text_field :organization %>
  </div>

  <div class="field">
    <%= form.label :lastschool %>
    <%= form.text_field :lastschool %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :province %>
    <%= form.text_field :province %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country %>
  </div>

  <div class="field">
    <%= form.label :handles %>
    <%= form.text_field :handles %>
  </div>

  <div class="field">
    <%= form.label :interests %>
    <%= form.text_field :interests %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
