<p>
    <h2>Enrolled Opportunities</h2>
</p>
<p>
    <% @vhero.vopportunities.each do |vheroenrolment| %>
        <table frame="box">
            <tr><td>Name: <%= link_to vheroenrolment.voppname, vopportunity_path(vheroenrolment) %></td></tr>
            <tr><td>Logo: <%= vheroenrolment.vopplogo %></td></tr>
            <tr><td>Title: <%= vheroenrolment.title %></td></tr>
            <tr><td>Description: <%= vheroenrolment.shortdescr %></td></tr>
            <tr><td>OrgName: <%= vheroenrolment.vorganization.vorgname %></td></tr>
        </table>
    <% end %>
</p>
<!--<p>
    <h2>Current Opportunities</h2>
          <% #@vopportunity = Vopportunity.not_enroled %>
          <% #@vopportunity.each do |vopportunity| %>
        <table frame="box">
            <tr><td>Name: <%= link_to vopportunity.voppname, vopportunity_path(vopportunity) %></td></tr>
            <tr><td>Logo: <%= vopportunity.vopplogo %></td></tr>
            <tr><td>Title: <%= vopportunity.title %></td></tr>
            <tr><td>Description: <%= vopportunity.shortdescr %></td></tr>
            <tr><td>Organization: <%= vopportunity.vorganization.vorgname %></td></tr>
        </table>
        <br>
            <% #end %>
</p>-->
