<main class="page-content">  
        <!-- Breadcrumbs & Page title -->
        <section class="text-center section-34 section-sm-60 section-md-top-100 section-md-bottom-105 bg-image bg-breadcrumbs-01">
          <div class="shell shell-fluid">
            <div class="range range-condensed">
              <div class="cell-xs-12 cell-xl-preffix-1 cell-xl-11">
                <p class="h3 text-white">Become a Volunthero</p>
              </div>
            </div>
          </div>
        </section>
        <section class="bg-white text-center section-50 section-sm-bottom-100">
          <div class="shell">
            <div class="range range-xs-center offset-top-15">
              <div class="cell-sm-10 cell-md-8">
                <div class="inset-lg-left-50 inset-lg-right-50">
                  <!-- RD Mailform-->
                    <%= form_with(model: @vhero, local: true) do |form| %>
                    <div class="form-inline-flex">
                      <div class="form-group">
                        <%= form.text_field :firstname, autofocus: true, class: "form-control" %>
                        <label for="contact-name-2" class="form-label form-label-outside"><%= form.label :firstname %></label>
                      </div>
                      <div class="form-group">
                        <%= form.text_field :lastname, class: "form-control" %>
                        <label for="contact-username" class="form-label form-label-outside"><%= form.label :lastname %></label>
                      </div>
                    </div>
                    <br>
                    <div class="form-inline-flex">
                      <div class="form-group">
                        <%= form.text_field :city, class: "form-control" %>
                        <label for="contact-name-2" class="form-label form-label-outside"><%= form.label :city %></label>
                      </div>
                      <div class="form-group">
                        <%= form.text_field :province, class: "form-control" %>
                        <label for="contact-username" class="form-label form-label-outside"><%= form.label :province %></label>
                      </div>
                      <div class="form-group">
                        <%= form.text_field :country, class: "form-control" %>
                        <label for="contact-username" class="form-label form-label-outside"><%= form.label :country %></label>
                      </div>
                    </div>
                    <br>
                    <div class="form-inline-flex">
                      <div class="form-group">
                        <%= form.text_field :email, class: "form-control" %>
                        <label for="contact-name-2" class="form-label form-label-outside"><%= form.label :email %></label>
                      </div>
                      <div class="form-group">
                        <%= form.password_field :password, class: "form-control" %>
                        <label for="contact-username" class="form-label form-label-outside"><%= form.label :password %></label>
                      </div>
                    </div>
                    <br>
                    <div class="form-inline-flex">
                      <div class="form-group">
                        <%= form.file_field :image, class: "form-control" %>
                        <label for="contact-username" class="form-label form-label-outside"><%= form.label :image %></label>
                      </div>
                      <div class="form-group">
                        <%= form.password_field :password_confirmation, class: "form-control" %>
                        <label for="contact-username" class="form-label form-label-outside"><%= form.label :password_confirmation %></label>
                      </div>
                    </div>
                    <br>
                    <hr>
                    <br>
                    <div class="form-inline-flex">
                      <div class="form-group">
                        <%= form.text_field :jobtitle, class: "form-control" %>
                        <label for="contact-name-2" class="form-label form-label-outside"><%= form.label :jobtitle %></label>
                      </div>
                      <div class="form-group">
                        <%= form.text_field :organization, class: "form-control" %>
                        <label for="contact-username" class="form-label form-label-outside"><%= form.label :organization %></label>
                      </div>
                    </div>
                    <div class="form-group offset-top-15">
                      <%= form.text_area :shortdescr, class: "form-control" %> 
                      <label for="message" class="form-label form-label-outside">
                      <%= form.label :shortdescr %></label>
                    </div>
                    <br>
                    <hr>
                    <br>
                    <div class="form-inline-flex">
                      <div class="form-group">
                        <%= form.text_field :handles, autofocus: true, class: "form-control" %>
                        <label for="contact-name-2" class="form-label form-label-outside"><%= form.label :handles %></label>
                      </div>
                      <div class="form-group">
                        <%= form.text_field :interests, class: "form-control" %>
                        <label for="contact-username" class="form-label form-label-outside"><%= form.label :interests %></label>
                      </div>
                    </div>
                    <br>
                    <hr>
                    <br>
                    <div class="offset-top-15">
                      <div class="form-inline-flex">
                        <div class="form-group">
                          <%= form.submit "Sign Up", class: "btn btn-burnt-sienna btn-fullwidth btn-shadow" %>
                          <!--<button type="submit" class="btn btn-burnt-sienna btn-fullwidth">Send message</button>-->
                        </div>
                        <% end %>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </section>
</main>
    <%= javascript_include_tag "core.min" %>
    <%= javascript_include_tag "script" %>
<%= link_to 'Back', vheros_path %>
