<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @vhero.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @vhero.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @vhero.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @vhero.password %>
</p>

<p>
  <strong>Shortdescr:</strong>
  <%= @vhero.shortdescr %>
</p>

<p>
  <strong>Jobtitle:</strong>
  <%= @vhero.jobtitle %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @vhero.organization %>
</p>

<p>
  <strong>Lastschool:</strong>
  <%= @vhero.lastschool %>
</p>

<p>
  <strong>City:</strong>
  <%= @vhero.city %>
</p>

<p>
  <strong>Province:</strong>
  <%= @vhero.province %>
</p>

<p>
  <strong>Country:</strong>
  <%= @vhero.country %>
</p>

<p>
  <strong>Handles:</strong>
  <%= @vhero.handles %>
</p>

<p>
  <strong>Interests:</strong>
  <%= @vhero.interests %>
</p>
<%= render 'showenrolments', vhero: @vhero %>

<%= link_to 'Edit', edit_vhero_path(@vhero) %> |
<%= link_to 'Back', vheros_path %>
